
@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Layouts/Frontend/_Frontend.cshtml";
    ViewBag.activeStatus = "changepassword";

}
<div class="careerfy-main-content">
    <div class="careerfy-main-section careerfy-dashboard-full">
        <div class="container">
            <div class="row">
                @Html.Partial("_jobseekerHeader", (String)ViewBag.activeStatus)
                <div class="careerfy-column-9">
                    <div class="careerfy-typo-wrap">
                        <form class="careerfy-employer-dasboard" method="post" action="@Url.Action("changePassword","jobseeker")">
                            <div class="careerfy-employer-box-section">
                                <div class="careerfy-row">
                                    @Html.Raw(ViewBag.message)
                                </div>
                                <div class="careerfy-profile-title">
                                    <h2>Change Password</h2>
                                </div>
                                <ul class="careerfy-row careerfy-employer-profile-form">
                                    <li class="careerfy-column-12">
                                        <label>Old Password *</label>
                                        <input type="password" name="oldpassword" />
                                    </li>
                                    <li class="careerfy-column-6">
                                        <label>New Password *</label>
                                        <input type="password" name="password" />
                                    </li>
                                    <li class="careerfy-column-6">
                                        <label>Confirm New Password  *</label>
                                        <input type="password" name="confirmpassword" />
                                    </li>
                                </ul>


                            </div>
                            <input type="submit" class="careerfy-employer-profile-submit" value="Update Password">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


